oaipmh-api/src/main/resources/GGBN.XSD

<?xml version="1.0"?>
<!-- edited by Gabriele Droege (Botanic Garden and Botanical Museum Berlin-Dahlem) -->
<xs:schema targetNamespace="http://data.ggbn.org/schemas/ggbn/terms"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ggbn="http://data.ggbn.org/schemas/ggbn/terms"
	xmlns="http://data.ggbn.org/schemas/ggbn/terms" elementFormDefault="qualified"
	attributeFormDefault="unqualified" version="2.0">
	<xs:element name="GGBN">
		<xs:annotation>
			<xs:documentation>Container element of a DNA sample containig
				information about DNA extraction, PCR amplifications, cloning and
				sequencing</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="purificationMethod" type="xs:string"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>Method or protocol used for secundary
							purification of already extracted genomic DNA</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ratioOfAbsorbance260_280" type="xs:string"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>Ratio of absorbance at 260 nm and 280 nm used to
							assess the purity of DNA (mainly proteins, phenol and others)
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ratioOfAbsorbance260_230" type="xs:string"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>Ratio of absorbance at 260 nm and 230 nm
							assessing DNA purity (mostly secundary measure, indicates maily
							EDTA, carbohydrates, phenol)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="concentration" type="ggbn:stringUnit"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>DNA concentration value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="methodDeterminationConcentrationAndRatios"
					type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Method used for determination of concentration
							and ratio of absorbance parameters</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="volume" type="ggbn:stringUnit"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>DNA volume value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="weight" type="ggbn:stringUnit"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>DNA weight value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="methodDeterminationWeight" type="xs:string"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>Method used for determination of DNA weight
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="qualityCheckDate" type="xs:string"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>Date when DNA or tissue quality parameters were
							determined</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="quality" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Sample quality estimation based on parameters
							described at QualityRemarks</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="low" />
							<xs:enumeration value="medium" />
							<xs:enumeration value="high" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="qualityRemarks" type="xs:string"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>Description of methods and parameters defining
							low, medium or high quality of a sample</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DNADNAHybridization" type="xs:string"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>Result of DNA-DNA hybridization, e.g. strain:
							measurement value percentage</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DNAMeltingPoint" type="xs:string"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>result of melting temperature (Tm) analysis,
							e.g. measurement value unit</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="estimated_size" type="xs:string"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>MIxS element. The estimated size of the genome
							prior to sequencing. Of particular importance in the sequencing
							of (eukaryotic) genome which could remain in draft form for a
							long or unspecified period. e.g. 300000 bp; Already in MIGS/MIMS
							7-12-10 but not in MIMARKS 26-1-11.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="pool_dna_extracts" type="xs:string"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>MIxS element. Pooling of DNA extracts (if done).
							were multiple DNA extractions mixed? how many?</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="gelImage" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Container element for information on images of
							the DNA sample (e.g. agarose gel images)</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="fileURI" type="ggbn:stringType">
								<xs:annotation>
									<xs:documentation>Link to an DNA sample image (e.g. agarose gel
										image)</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="gelVoltage" type="xs:string"
								minOccurs="0">
								<xs:annotation>
									<xs:documentation />
								</xs:annotation>
							</xs:element>
							<xs:element name="gelConcentration" type="xs:string"
								minOccurs="0">
								<xs:annotation>
									<xs:documentation />
								</xs:annotation>
							</xs:element>
							<xs:element name="gelDuration" type="xs:string"
								minOccurs="0">
								<xs:annotation>
									<xs:documentation />
								</xs:annotation>
							</xs:element>
							<xs:element name="gelLadder" type="xs:string"
								minOccurs="0">
								<xs:annotation>
									<xs:documentation />
								</xs:annotation>
							</xs:element>
							<xs:element name="gelStain" type="xs:string"
								minOccurs="0">
								<xs:annotation>
									<xs:documentation />
								</xs:annotation>
							</xs:element>
							<xs:element name="gelRemarks" type="xs:string"
								minOccurs="0">
								<xs:annotation>
									<xs:documentation />
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Amplifications" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Container element for infomation of all
							amplifications</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="amplification" type="ggbn:amplification"
								maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Container element for information related to
										an individual amplification</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="amplification">
		<xs:annotation>
			<xs:documentation>Container element for individual amplifications
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="amplificationDate" type="xs:date"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date when the amplification was carried out
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="amplificationStaff" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Person or Institution who performed the
						amplification</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="marker" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Marker, genetic locus or DNA fragment amplified
						by PCR (e.g. "CO1", "ITS").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="markerSubfragment" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of subfragment of a gene or locus. Important
						to e.g. identify special regions on marker genes like V6 on 16S
						rRNA e.g. V6, V9, ITS</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="amplificationSuccess" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>true/false or yes/no whether the ampliciation was
						sucessful in general</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="amplificationSuccessDetails" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>details about the amplification, e.g. including
						why it has failed</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="amplificationMethod" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Method used for amplification. Similar to MIxS
						term: pcr_conditions.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="purificationMethod" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Method or protocol used to purify the PCR product
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lib_reads_seqd" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>MIxS element "library reads sequenced". Total
						number of clones sequenced from the library</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lib_screen" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>MIxS element "library screen". Specific
						enrichment or screening methods applied before and/or after
						creating clone libraries in order to select a specific group of
						sequences e.g. enriched, screened, normalized</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lib_size" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>MIxS element "library size". Total number of
						clones in the library prepared for the project</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lib_vector" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>MIxS element "library vector". Cloning vector
						type(s) used in construction of libraries</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lib_const_meth" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>MIxS element "library construction method".
						Library construction method used for clone libraries e.g.
						paired-end,single,vector</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="plasmid" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of Plasmid used for sequencing.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sequencings" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Container element for all DNA sequencings
						(related to all sequences and sequencing runs of one fragment or
						locus)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="sequencing" type="ggbn:sequencing"
							maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Container element for all sequencing
									information related to a defined clone of a cloned fragment
									(contains only one element if the fragment was not cloned)
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AmplificationPrimers" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Container element for amplification primers
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="amplificationPrimer" type="ggbn:primer"
							minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Container element for an individual
									amplification primer</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sequencing">
		<xs:annotation>
			<xs:documentation>Container element for DNA sequencings
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="cloningDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date when the DNA cloning was carried out
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cloningStaff" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Person or institution which performed DNA cloning
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cloningMethod" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Method or protocol used for DNA cloning
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cloneStrain" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the individual DNA clone
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CloningPrimers" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Container element for amplification primers
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="cloningPrimer" type="ggbn:primer"
							minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Container element for an individual cloning
									primer</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GC-Content" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>guanine-cytosine content in mol %
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SingleSequencings" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Container element for all individual DNA
						sequencings (related to all sequnecing runs of a defined clone of
						a cloned fragment)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="singleSequencing" type="ggbn:singleSequencing"
							maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Container element for information related to
									an individual sequencing (related to a unique sequencing run)
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="consensusSequence" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Consensus sequence derived from all individual
						sequences</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="consensusSequenceLength" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Length of the consensus sequence (number of base
						pairs)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="consensusSequenceChromatogramFileURI"
				type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Link to the chromatogram of the consensus
						sequence</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="barcodeSequence" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>DNA Barcode sequence (part or 100% of the
						consensus sequence)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="chimera_check" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>MIxS element. A chimeric sequence, or chimera for
						short, is a sequence comprised of two or more phylogenetically
						distinct parent sequences. Chimeras are usually PCR artifacts
						thought to occur when a prematurely terminated amplicon reanneals
						to a foreign DNA strand and is copied to completion in the
						following PCR cycles. The point at which the chimeric sequence
						changes from one parent to the next is called the breakpoint or
						conversion point</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="assembly" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>MIxS element How was the assembly done (e.g. with
						a text based assembler like phrap or a flowgram assembler etc).
						Input: CV</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sop" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>MIxS element Relevant standard operating
						procedures.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="finishing_strategy" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>MIxS element Was the genome project intended to
						produce a complete or draft genome, Coverage, the fold coverage of
						the sequencing expressed as 2x, 3x, 18x etc, and how many contigs
						were produced for the genome</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="annotation_source" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>MIxS element. For cases where annotation was
						provided by a community jamboree or model organism database rather
						than by a specific submitter</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="markerAccordance" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Result of comparison of two markers of two
						specimens or strains. Name or TAX-ID (NCBI) of compared
						specimens/strain and the relative identity percentage must be
						given.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="seq_quality_check" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>MIxS element "sequence quality check". Indicate
						if the sequence has been called by automatic systems (none) or
						undergone a manual editing procedure (e.g. by inspecting the raw
						data or chromatograms). Applied only for sequences that are not
						submitted to SRA or DRA e.g. none or manually edited
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="haplotype" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the haplotype, if applicable
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="geneticAccession" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Container element for the genetic accession
						number</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="geneticAccessionNumber" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:documentation>Definite number or ID under which the DNA
									sequence is deposited in a public database (e.g. GenBank
									accession number)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="geneticAccessionNumberURI" type="xs:anyURI"
							minOccurs="0">
							<xs:annotation>
								<xs:documentation>Link to the related record in a public
									database (e.g. link to a GenBank or EMBL record)
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="BOLDProcessID" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:documentation>Definite number or ID under which the DNA
									sequence is deposited in the BOLD database</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="References" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Container element for references to DNA sequences
						or the consensus sequence</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Reference" type="Reference"
							maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Container element for references to individual
									DNA sequences or the consensus sequence</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="singleSequencing">
		<xs:annotation>
			<xs:documentation>Container element for information on individual
				sequences/reads</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sequencingDirection" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Direction of sequencing/read (e.g. forward,
						reverse)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sequencingDate" type="xs:date"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date when the DNA sequence/read was produced
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sequencingStaff" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Person or institution which performed the
						sequencing/read</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sequencingMethod" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Method or protocol used to generate the DNA
						sequences/reads</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="singleSequence" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sequence of the individual DNA sequence/read
						(A,T,G,C; 5' to 3')</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="singleSequenceLength" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Length of the single sequence/read (Number of
						base pairs)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fragmentLength" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Length of fragments (on average or precise)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="chromatogramFileURI" type="xs:anyURI"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Link to the chromatogram of an individual DNA
						sequence (single read)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SequencingPrimers" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Container element for all sequencing primers
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="sequencingPrimer" type="ggbn:primer"
							minOccurs="0">
							<xs:annotation>
								<xs:documentation>Container element for an individual sequencing
									primer</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Reference">
		<xs:annotation>
			<xs:documentation>Container element for an reference to DNA sequences
				or the consensus sequence  </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ReferenceCitation" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Reference to DNA sequences or the consensus
						sequence</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReferenceURI" type="xs:anyURI"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Link to the reference for DNA sequences or the
						consensus sequence</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="primer">
		<xs:annotation>
			<xs:documentation>Container element for information of a sequencing
				or amplification primer</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="primerSequence" type="ggbn:stringDirection"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>DNA sequence of the primer (A,T,G,C; 5' to 3')
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="primerName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the primer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="primerReferenceCitation" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>First reference of the primer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="primerReferenceLink" type="xs:anyURI"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Link to the first reference of the primer
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="adapters" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>MIxS element. Adapters provide priming sequences
						for both amplification and sequencing of the sample-library
						fragments. Both adapters should be reported; in uppercase letters
						e.g.adapter A and B sequence</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mid" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>MIxS element. Molecular barcodes, called
						Multiplex Identifiers (MIDs), that are used to specifically tag
						unique samples in a sequencing run. Sequence should be reported in
						uppercase letters.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="stringType">
		<xs:annotation>
			<xs:documentation>String, extended with Type attribute
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="Type" type="xs:string" use="required" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="stringDirection">
		<xs:annotation>
			<xs:documentation>String, extended with direction attribute (e.g.
				'forward' or 'reverse')</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="Direction" type="xs:string" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="stringUnit">
		<xs:annotation>
			<xs:documentation>String, extended with Unit attribute (e.g. ng/µl,
				µl, ng)</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="Unit" type="xs:string" use="required" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>
